main {
  background-color: $navy;
  height: 100%;
}

.overlay {
  z-index: -999;
  background-blend-mode: overlay;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));

  &.background-overlay {
    height: 1500px;
    transform: translate(-25%, 35%) rotate(26deg);
  }

  &.panel-overlay {
    position: absolute;
    // top: 100px;
    top: 175px; // adjusted for text horizontal alignment
    left: 0;
    height: 110%;
    width: 110%;
    overflow: hidden;
    transform: translate(-25%, 35%) rotate(26deg);
  }

}

.panel {
  position: fixed;
  top: 40%;
  left: 60%;
  transform: translate(-60%, -40%);
  min-width: 70%;
  min-height: 65%;
  background-color: $navy;
  box-shadow: 21px 21px 70px 0 rgba(11, 12, 31, 0.27);
  background-image: radial-gradient(circle at 0 1%, #3d3f65, #202135);
  overflow: hidden;
}

.panel-content {
  margin-left: 10%;
  vertical-align: middle;
  // margin: 0 0 40px 10%;
  margin: 25px 0 40px 82px; // horizontal alignment with navigation

  a.new-course {
    position: relative;
    font-size: 12px;
    color: #45afe3;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgba(69, 175, 227, 0.1);
    padding: 12px 25px 8px 25px;
    letter-spacing: 1px;
    font-family: 'MaisonNeue-Medium', sans-serif;

    &::after {
      border-radius: 20px;
    }
  }

  h1 {
    font-family: 'MaisonNeue-Light';
    letter-spacing: 2px;
    font-size: 42px;
    margin: 30px 0 20px 0;
  }

  p {
    color: #a7a9bc;
    line-height: 2.19;
  }

  a#sign-up {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 18px 40px;
    display: inline-block;
    margin: 25px 0 0 0;
    border-radius: 24.5px;
    box-shadow: 0 0 12px 0 rgba(228, 52, 79, 0.45);
    background-image: linear-gradient(to left, #f70078, #ff6a2a);
    position: relative;

    &::after {
      border-radius: 24.5px;
    }
  }

  a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #ffffff;
    z-index: 1;
  }

  a:hover {
    color: black;
    z-index: 5;

    &::after {
      opacity: 0.7;
      transition: 0.2s;
    }
  }
}
