@include for-size(tablet-landscape-down) {

  .overlay {

    &.background-overlay {
      display: none;
    }

    &.panel-overlay {
      top: 25%;
      width: 120%;
    }
  }

  .panel {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    transform: translate(0);

    .navigation {
      margin-bottom: 50px;
    }

    .panel-content {
      margin-left: 82px;
    }
  }
}

@include for-size(tablet-portrait-down) {
  .overlay.panel-overlay {
    top: 20%;
    width: 150%;
    left: -25%;
  }

  .panel {

    .panel-content {
      margin-left: 90px;
    }
  }
}

@include for-size(phone-only) {
  .overlay.panel-overlay {
    top: 0%;
    left: -25%;
    width: 170%;
  }

  .panel {
    position: relative;

    .panel-content {
      padding: 0 50px 25px 50px;
      margin-left: 0;
      text-align: center;
      width: 100%;
      box-sizing: border-box;

      h1 {
        font-size: 1.7em;
      }

      p {
        font-size: 14px;
        line-height: 2;
      }

      #sign-up {
        margin-top: 35px;
      }
    }
  }
}
